<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>E-Learning</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/profile.css}">
    </head>
    <body>
        <div th:replace="./fragments/navbar"></div>
        <nav aria-label="breadcrumb">
            <div class="container-fluid">
                <ol class="breadcrumb bg-white mb-0 py-2">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home mr-1"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My course</li>
                </ol>
            </div>
        </nav>
        <!-- BEGIN BANNER -->
        <section class="course-banner">
            <div class="container">
                <div class="banner-content">
                    <h1>My course</h1>
                    <h5>hieucoder@outlook.com</h5>
                </div>
            </div>
        </section>
        <!-- BEGIN BANNER -->
        <!-- BEGIN CONTENT -->
        <section class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="my-course-item">
                            <img th:src="@{/img/html-css.jpg}" alt="">
                            <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                            <div class="my-course-desc">
                                Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                                React Router, Redux)
                            </div>
                            <div class="my-course-author">
                                <h6>
                                    <small>Lê Quang Song</small>
                                    <small>Start course</small>
                                </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="my-course-item">
                            <img th:src="@{/img/html-css.jpg}" alt="">
                            <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                            <div class="my-course-desc">
                                Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                                React Router, Redux)
                            </div>
                            <div class="my-course-author">
                                <h6>
                                    <small>Lê Quang Song</small>
                                    <small>Start course</small>
                                </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="my-course-item">
                            <img th:src="@{/img/html-css.jpg}" alt="">
                            <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                            <div class="my-course-desc">
                                Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                                React Router, Redux)
                            </div>
                            <div class="my-course-author">
                                <h6>
                                    <small>Lê Quang Song</small>
                                    <small>Start course</small>
                                </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="my-course-item">
                            <img th:src="@{/img/html-css.jpg}" alt="">
                            <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                            <div class="my-course-desc">
                                Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                                React Router, Redux)
                            </div>
                            <div class="my-course-author">
                                <h6>
                                    <small>Lê Quang Song</small>
                                    <small>Start course</small>
                                </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="my-course-item">
                            <img th:src="@{/img/nodejs.jpg}" alt="">
                            <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                            <div class="my-course-desc">
                                Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                                React Router, Redux)
                            </div>
                            <div class="my-course-author">
                                <h6>
                                    <small>Lê Quang Song</small>
                                    <small>Start course</small>
                                </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="my-course-item">
                            <img th:src="@{/img/nodejs.jpg}" alt="">
                            <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                            <div class="my-course-desc">
                                Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                                React Router, Redux)
                            </div>
                            <div class="my-course-author">
                                <h6>
                                    <small>Lê Quang Song</small>
                                    <small>Start course</small>
                                </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="my-course-item">
                            <img th:src="@{/img/nodejs.jpg}" alt="">
                            <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                            <div class="my-course-desc">
                                Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (inclHooks,
                                React Router, Redux)
                            </div>
                            <div class="my-course-author">
                                <h6>
                                    <small>Lê Quang Song</small>
                                    <small>Start course</small>
                                </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="my-course-item">
                            <img th:src="@{/img/nodejs.jpg}" alt="">
                            <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router,
                                Redux) </h6>
                            <div class="my-course-desc">
                                Java Python Android and C# Expert Developer - 467K+ students The Complete Guide
                                (incl Hooks,
                                React Router, Redux)
                            </div>
                            <div class="my-course-author">
                                <h6>
                                    <small>Lê Quang Song</small>
                                    <small>Start course</small>
                                </h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- END CONTENT -->
        <div th:replace="./fragments/footer"></div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{/lib/jquery/jquery.slim.min.js}"></script>
        <script th:src="@{/lib/popper.js/popper.min.js}"></script>
        <script th:src="@{/lib/bootstrap/bootstrap.min.js}"></script>
    </body>
</html>