<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cập nhật video</title>
        <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" th:href="@{/Adminity UI/images/favicon.ico}" type="image/x-icon" />
        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" th:href="@{/Adminity UI/plugins/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/Adminity UI/plugins/font-awesome/css/font-awesome.min.css}" />
        <!-- themify-icons line icon -->
        <link rel="stylesheet" type="text/css" th:href="@{/Adminity UI/icon/themify-icons/themify-icons.css}" />
        <!-- ico font -->
        <link rel="stylesheet" type="text/css" th:href="@{/Adminity UI/icon/icofont/css/icofont.css}" />
        <!-- feather Awesome -->
        <link rel="stylesheet" type="text/css" th:href="@{/Adminity UI/icon/feather/css/feather.css}" />
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" th:href="@{/Adminity UI/css/style.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/Adminity UI/css/jquery.mCustomScrollbar.css}" />
    </head>

    <body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href='#'>
                            <img class="img-fluid" th:src='@{/Adminity UI/images/logo.png}' alt="Theme-Logo">
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                            <span class="input-group-addon search-close"><i
                                                    class="feather icon-x"></i></span>
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon search-btn"><i
                                                class="feather icon-search"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-bell"></i>
                                        <span class="badge bg-c-pink">5</span>
                                    </div>
                                </div>
                            </li>
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-message-square"></i>
                                        <span class="badge bg-c-green">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img th:src="@{/Adminity UI/images/avatar-4.jpg}" class="img-radius"
                                             alt="User-Profile-Image">
                                        <span>Hieu Minh Le</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="#!">
                                                <i class="feather icon-settings"></i> Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="user-profile.htm">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="auth-normal-sign-in.htm">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <div th:replace="./Adminity UI/fragments/navbar"></div>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="/admin">
                                                            <i class="feather icon-home"></i> Trang chủ
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a th:href="@{/videos}">Cập nhật video</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h2 class="text-uppercase text-center">Cập nhật video</h2>
                                                </div>
                                                <div class="card-block">
                                                    <p th:text="${errorMessage}"></p>
                                                    <form th:action="@{/videos/update}" method="post" th:object="${videoDto}">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="hidden" th:field="*{id}"/>
                                                                <div class="form-group">
                                                                    <label>Tiêu đề</label>
                                                                    <input type="text" th:field="*{title}" class="form-control" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Url</label>
                                                                    <input type="text" th:field="*{url}" class="form-control" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Hình đại diện</label>
                                                                    <input type="file" name="image" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Thời lượng (phút)</label>
                                                                    <input type="number" th:field="*{timeCount}" class="form-control" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Khóa học</label>
                                                                    <select th:field="*{courseId}" class="form-control">
                                                                        <option th:each="course : ${courses}"
                                                                                th:value="${course.id}"
                                                                                th:text="${course.title}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group mt-3">
                                                                    <button type="submit" class="btn btn-primary m-b-0">Lưu lại</button>
                                                                    <a th:href="@{/videos}" class="btn btn-secondary text-white">Quay lại</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/Adminity UI/plugins/jquery/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/Adminity UI/plugins/jquery-ui/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/Adminity UI/plugins/popper.js/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/Adminity UI/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" th:src="@{/Adminity UI/plugins/jquery-slimscroll/js/jquery.slimscroll.js}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" th:src="@{/Adminity UI/plugins/modernizr/js/modernizr.js}"></script>
    <script type="text/javascript" th:src="@{/Adminity UI/plugins/modernizr/js/css-scrollbars.js}"></script>
    <script th:src="@{/Adminity UI/js/pcoded.min.js}"></script>
    <script th:src="@{/Adminity UI/js/vartical-layout.min.js}"></script>
    <script th:src="@{/Adminity UI/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
    <script src="http://cdn.ckeditor.com/4.4.7/standard-all/adapters/jquery.js"></script>
    </body>
</html>