<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/courses">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="/categories">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext">Danh mục</span>
                </a>
            </li>
            <li class="">
                <a href="/courses">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext">Khóa học</span>
                </a>
            </li>
            <li class="">
                <a href="/videos">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext">Video</span>
                </a>
            </li>
            <li class="">
                <a href="/targets">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext">Mục tiêu</span>
                </a>
            </li>
            <li class="">
                <a href="/users">
                    <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                    <span class="pcoded-mtext">Tài khoản</span>
                </a>
            </li>
            <li class="">
                <a href="/roles">
                    <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                    <span class="pcoded-mtext">Quyền</span>
                </a>
            </li>
        </ul>
    </div>
</nav>